
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
</head>
<body class="" id="top">
    <div class="main">
        <!--==============================header=================================-->
        <header>
           
        <!--==============================Content=================================-->
        <div class="content">
            <div class="ic"></div>
            <div class="container_12">
                <div class="grid_7">
                    <h3>Nekoliko riječi o nama </h3>
                    <img src="@Url.Content("~/Content/MyTemplate/")images/page2_img1.jpg" alt="" class="img_inner fleft">
                    <div class="extra_wrapper">
                        <div class="text1 color2">
                            <a href="#">Taxi Servis SAR</a>
                        </div>
                        <p>
                            Taxi servis &bdquo;SAR&ldquo; obezbjeđuje klijentima bolju dostupnost, preglednost i funkcionalnost taxi vozila i usluga..
                        </p>
                    </div>
                    <div class="clear cl1"></div>
                    <p>Naše usluge su uvijek dostupne za vas, u bilo koje vrijeme. Pored dobre usluge, nudimo Vam i dodatne beneficije, kao što su određeni popusti, besplatne vožnje, i jos mnogo toga.</p>
                </div>
                <div class="grid_4 prefix_1">
                    <h3>&nbsp;</h3>
                    <ul class="list li">
                        <li class="list_count">1</li>
                        <li class="extra_wrapper">
                            <div class="text1 color2"><a href="#">Desilo vam se da dugo i uzaludno čekate prijevoz na nekoj lokaciji ?</a></div>
                        </li>
                    </ul>
                    <ul class="list li">
                        <li class="list_count">2</li>
                        <li class="extra_wrapper">
                            <div class="text1 color2">Nemate broj taxia za to područje ili nemate dovoljno kredita za poziv ?</div>
                        </li>
                    </ul>
                    <ul class="list li">
                        <li class="list_count">3</li>
                        <li class="extra_wrapper">
                            <div class="text1 color2">Trebate rezervaciju za, po vašoj volji, specificirane taxi usluge na određenu lokaciju</div>
                        </li>
                    </ul>
                    <ul class="list li">
                        <li class="list_count"></li>
                        <li class="extra_wrapper"></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="grid_12">
                    <h3 class="h3__ind1">&nbsp;</h3>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--==============================footer=================================-->
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <div class="f_phone"><span>Call Us:</span> + 1800 559 6580</div>
                <div class="socials">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                </div>
                <div class="copy">
                    <div class="st1">
                        <div class="brand">Tour<span class="color1">T</span>axi </div>
                        &copy; 2014	| <a href="#"</a>
                    </div> 
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>
<h2>Index1</h2>

